*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    height: 100vh;
    width: 100%;

   
}

.clearflix::after{
    display: block;
    clear: both;
    content:'';
}

.flex{
    display: flex;
    flex-direction: row;
}


.wrapper{
    width: 100%;
    height: 100%;
    width: 100%;

    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenitore{
    width: 80%;
    height: 95%;
   
   
    display: flex;
}

.utenti{
    width: 40%;
    height: 100%;
    
    background-color: rgb(255, 252, 252);
}

.chat{
    width: 60%;
    height: 100%;
}

.mio-profilo{
    
    justify-content: space-between;
    background-color: #eaeaea;
    height: 50px;
   
}

.testo-mio-profilo{
    margin: 15px 5px;
}


.foto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}

.icone .fa-solid{
    margin: 15px 5px;
    color: gray;
}

.notifiche{
    height: 50px;
    background-color: #8edafc;
}

.campana{
    font-size: 20px;
    margin: 15px 12px;
}

.testo-notifiche{
    margin: 14px 5px;
    
}
.testo-notifica{
    font-size: 15px;
}
.sottolineato{
    font-size: 10px;
    color: rgb(172, 172, 172);
}
.contenitore-ricerca{
    width: 100%;
    background-color: #fafafa;
    
}

.contenitore-text-area{
    width: 80%;
    
    height: 40px;
}
.icona-lente{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5px 0px 5px 10px;
    
    color: gray;
}

.area-testo{
    width: 95%;
    height: 30px;
    margin: 5px 10px 5px 0px;
    
    border: none;

}

.utente{
    margin-left: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.utente:hover{
    background-color: rgb(233, 232, 232);
}

.ultimo-messaggio-amico{
    font-size: 10px;
    margin-left: 5px;
    color: rgb(213, 211, 211);
}

.ora{
    font-size: 10px;
    margin-right: 5px;
}
.nome-amico{
    margin: 10px 0px 5px 5px;
}

.chat-con-amico{
    width: 100%;
    background-color: #eaeaea;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.testo-chat-amico{
    margin: 10px 0px 5px 5px;
}

.accesso-chat-amico{
    font-size: 10px;
}

.icone-chat .fa-solid{
    margin-right: 10px;
    color: gray;
}

.chat-content{
    width: 100%;
    height: calc(100% - 100px);
    background-image: url(../\ img\ 11.39.57/mine.jpg);
    padding: 2rem;
}

.text-area-amico{
    width: 100%;
    height: 50px;
    background-color: #f3eeea;
    justify-content: space-between;
    
    
}
.tastiera{
    width: 80%;
}


.emoji{
    width: 10%;
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    color: gray;
}
.area-testo-amico{
    height: 30px;
    margin: 10px 10px 10px 0px;
    width: 100%;
    border: none;

}
.microfono{
    width: 10%;
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    color: gray;
}



.received{
    float: left;
    background-color: #ffffff;
    margin-right: 5rem;
    clear: both;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
}

.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 5rem;
    clear: both;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
}